/* sheeeeesh */

body {

    margin: 0%;
} 

nav a:link, nav a:visited {
    text-decoration: none;
    background-color: #95CAE5;
    color: #002233;
    font-family: arial;
    transition-duration: 0.5s;
    padding: 5px;
    border-width: 10px;
    border-color: #95CAE5;
    border-style: solid;
    border-radius: 10px;
    display: inline-flex;
    flex-direction: row;
    rotate: -90deg;
    text-align: center;

    height: 20%;
    width: 70%;
}

nav a:hover, nav a:active {
    text-decoration: underline;
    color: #206080;
    border-radius: 25px;
}

nav {
    background-color: #294A5B;
    width: fit-content;
    display: flex;
    position: fixed;
    height: 100%;
}

nav li {
    list-style: none;
    height: 15em;
    justify-content: space-around;
    align-content: space-around;
}

.Flex {
    display: flex;
}


.maincontent {
    display: flex;
}
